<a href="https://colab.research.google.com/github/akanksha-ahuja/energy-economic-growth/blob/main/Sustainble_Energy_Consumption_1990_2016_dash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libs

In [1]:
!pip install plotly -q

In [2]:
!pip install jupyter-dash -q

     |████████████████████████████████| 7.3 MB 6.9 MB/s
     |████████████████████████████████| 25.3 MB 1.5 MB/s
     |████████████████████████████████| 357 kB 62.9 MB/s
  Building wheel for dash-core-components (setup.py) ... done
  Building wheel for dash-html-components (setup.py) ... done
  Building wheel for dash-table (setup.py) ... done

In [3]:
!pip install dash -q

In [4]:
# Import all libs
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
from sklearn.preprocessing import StandardScaler
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

In [5]:
# Dash libs
import dash   
from jupyter_dash import JupyterDash                  
from dash.dependencies import Input, Output, State
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px

In [6]:
# Fix paths 
path_to_se = "/content/SE4ALLData.csv"

In [7]:
# Read all csv files here # Sustainable Energy for all 
df = pd.read_csv(path_to_se)

# Countries

In [8]:
def load_se_data(path_to_se):
  df = pd.read_csv(path_to_se)
  return df

In [9]:
def get_all_countries(df):
  df_India = df[df['Country Name']=='India']
  df_UK = df[df['Country Name']=='United Kingdom']
  df_France = df[df['Country Name']=='France']
  df_USA = df[df['Country Name']=='United States']
  df_Pakistan = df[df['Country Name']=='Pakistan']
  df_Zambia = df[df['Country Name']=='Zambia']
  df_SA = df[df['Country Name']=='South Africa']
  df_Rwanda = df[df['Country Name']=='Rwanda']
  df_Peru = df[df['Country Name']=='Peru']
  df_Nepal = df[df['Country Name']=='Nepal']
  df_Mexico = df[df['Country Name']=='Mexico']
  df_Iraq = df[df['Country Name']=='Iraq']
  df_Iceland = df[df['Country Name']=='Iceland']
  df_Ghana = df[df['Country Name']=='Ghana']
  return df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana

In [10]:
def get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Access to electricity (% of total population)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"]):
  # Convert to numpy for plotting 
  np_India = df_India[df_India['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_UK = df_UK[df_UK['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_France = df_France[df_France['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_USA = df_USA[df_USA['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Pakistan = df_Pakistan[df_Pakistan['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Zambia = df_Zambia[df_Zambia['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_SA = df_SA[df_SA['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Rwanda = df_Rwanda[df_Rwanda['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Peru = df_Peru[df_Peru['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Nepal = df_Nepal[df_Nepal['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Mexico = df_Mexico[df_Mexico['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Iraq = df_Iraq[df_Iraq['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Iceland = df_Iceland[df_Iceland['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  np_Ghana = df_Ghana[df_Ghana['Indicator Name'] == indicator_name].drop(columns= se_columns_dropped_list, axis=1).to_numpy()
  return np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana

In [11]:
# Calling all functions for dataframes and np of selected countries 
df = load_se_data(path_to_se)
df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana = get_all_countries(df)
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Access to electricity (% of total population)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])

In [12]:
# The time for the dataset (x axis)
x_time = [x for x in range(1990, 2017, 1)]

In [13]:
# Create a new dataframe friendly for plotly plotting  for all countries 
def create_empty_dataframes():
  df_India_plot = pd.DataFrame()
  df_UK_plot = pd.DataFrame()
  df_France_plot = pd.DataFrame()
  df_USA_plot = pd.DataFrame()
  df_Pakistan_plot = pd.DataFrame()
  df_Zambia_plot = pd.DataFrame()
  df_SA_plot = pd.DataFrame()
  df_Rwanda_plot = pd.DataFrame()
  df_Peru_plot = pd.DataFrame()
  df_Nepal_plot = pd.DataFrame()
  df_Mexico_plot = pd.DataFrame()
  df_Iraq_plot = pd.DataFrame()
  df_Iceland_plot = pd.DataFrame()
  df_Ghana_plot = pd.DataFrame()
  return df_India_plot, df_UK_plot, df_France_plot, df_USA_plot, df_Pakistan_plot, df_Zambia_plot, df_SA_plot, df_Rwanda_plot, df_Peru_plot, df_Nepal_plot, df_Mexico_plot, df_Iraq_plot, df_Iceland_plot, df_Ghana_plot

In [14]:
def add_time_to_dataframe(df, x_time):
  df['year'] = x_time
  return df

def add_energy_to_dataframe(df, column_name, np_country ):
  df[column_name] = np_country[0]
  return df

In [15]:
# Add time to all dataframe
def add_time_to_all_df(df_country_plot_list, x_time):
  for idx in range(len(df_country_plot_list)):
    add_time_to_dataframe(df_country_plot_list[idx], x_time)
  return df_country_plot_list

In [16]:
# Create empty dfs
df_India_plot, df_UK_plot, df_France_plot, df_USA_plot, df_Pakistan_plot, df_Zambia_plot, df_SA_plot, df_Rwanda_plot, df_Peru_plot, df_Nepal_plot, df_Mexico_plot, df_Iraq_plot, df_Iceland_plot, df_Ghana_plot =create_empty_dataframes()

# Create a list of the dataframes to iteratively add features onto it 
df_country_plot_list = [df_India_plot, df_UK_plot, df_France_plot, df_USA_plot, df_Pakistan_plot, df_Zambia_plot, df_SA_plot, df_Rwanda_plot, df_Peru_plot, df_Nepal_plot, df_Mexico_plot, df_Iraq_plot, df_Iceland_plot, df_Ghana_plot]

# Added time column to each dataframe
df_country_plot_list = add_time_to_all_df(df_country_plot_list, x_time)

In [17]:
# Create np_country_list for renewable energy 
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Renewable energy consumption (TJ)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Renewable energy consumption (TJ)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [18]:
# Create np_country_list for Access to electricity (% of rural population with access)
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Access to electricity (% of rural population with access)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Access to electricity (% of rural population with access)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [19]:
# Create np_country_list for Access to Clean Fuels and Technologies for cooking (% of total population)
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Access to Clean Fuels and Technologies for cooking (% of total population)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Access to Clean Fuels and Technologies for cooking (% of total population)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [20]:
# Create np_country_list for Access to electricity (% of total population)' 
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Access to electricity (% of total population)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Access to electricity (% of total population)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [21]:
# Create np_country_list for Access to electricity (% of urban population with access)'
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Access to electricity (% of urban population with access)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Access to electricity (% of urban population with access)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [22]:
# Create np_country_list for Energy intensity level of primary energy (MJ/2011 USD PPP)
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Energy intensity level of primary energy (MJ/2011 USD PPP)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Energy intensity level of primary energy (MJ/2011 USD PPP)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [23]:
# Create np_country_list for Renewable electricity output (GWh)
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Renewable electricity output (GWh)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Renewable electricity output (GWh)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [24]:
# Create np_country_list for Renewable electricity share of total electricity output (%)
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Renewable electricity share of total electricity output (%)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Renewable electricity share of total electricity output (%)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [25]:
# Create np_country_list for Renewable energy share of TFEC (%)
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Renewable energy share of TFEC (%)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Renewable energy share of TFEC (%)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [26]:
# Create np_country_list for Total electricity output (GWh) 
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Total electricity output (GWh)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Total electricity output (GWh)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [27]:
# Create np_country_list for Total final energy consumption (TFEC) (TJ)
np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana = get_np_all_countries(df_India, df_UK, df_France, df_USA, df_Pakistan, df_Zambia, df_SA, df_Rwanda, df_Peru, df_Nepal, df_Mexico, df_Iraq, df_Iceland, df_Ghana, indicator_name='Total final energy consumption (TFEC) (TJ)', se_columns_dropped_list = ["Country Name",	"Country Code",	"Indicator Name",	"Indicator Code", "Unnamed: 31"])
np_country_list = [np_India, np_UK, np_France, np_USA, np_Pakistan, np_Zambia, np_SA, np_Rwanda, np_Peru, np_Nepal, np_Mexico, np_Iraq, np_Iceland, np_Ghana ]
column_name = 'Total final energy consumption (TFEC) (TJ)'

# Add energy to df 
df_India_plot = add_energy_to_dataframe(df_country_plot_list[0], column_name, np_country_list[0])
df_UK_plot = add_energy_to_dataframe(df_country_plot_list[1], column_name, np_country_list[1])
df_France_plot = add_energy_to_dataframe(df_country_plot_list[2], column_name, np_country_list[2])
df_USA_plot = add_energy_to_dataframe(df_country_plot_list[3], column_name, np_country_list[3])
df_Pakistan_plot = add_energy_to_dataframe(df_country_plot_list[4], column_name, np_country_list[4])
df_Zambia_plot = add_energy_to_dataframe(df_country_plot_list[5], column_name, np_country_list[5])
df_SA_plot = add_energy_to_dataframe(df_country_plot_list[6], column_name, np_country_list[6])
df_Rwanda_plot = add_energy_to_dataframe(df_country_plot_list[7], column_name, np_country_list[7])
df_Peru_plot = add_energy_to_dataframe(df_country_plot_list[8], column_name, np_country_list[8])
df_Nepal_plot = add_energy_to_dataframe(df_country_plot_list[9], column_name, np_country_list[9])
df_Mexico_plot = add_energy_to_dataframe(df_country_plot_list[10], column_name, np_country_list[10])
df_Iraq_plot = add_energy_to_dataframe(df_country_plot_list[11], column_name, np_country_list[11])
df_Iceland_plot = add_energy_to_dataframe(df_country_plot_list[12], column_name, np_country_list[12])
df_Ghana_plot = add_energy_to_dataframe(df_country_plot_list[13], column_name, np_country_list[13])

In [28]:
df_India_plot

    year  ...  Total final energy consumption (TFEC) (TJ)
0   1990  ...                                9.625891e+06
1   1991  ...                                9.937091e+06
2   1992  ...                                1.012474e+07
3   1993  ...                                1.022367e+07
4   1994  ...                                1.060080e+07
5   1995  ...                                1.085662e+07
6   1996  ...                                1.107608e+07
7   1997  ...                                1.148446e+07
8   1998  ...                                1.158161e+07
9   1999  ...                                1.193423e+07
10  2000  ...                                1.208045e+07
11  2001  ...                                1.216292e+07
12  2002  ...                                1.258384e+07
13  2003  ...                                1.272274e+07
14  2004  ...                                1.327359e+07
15  2005  ...                                1.390053e+07
16  2006  ...                                1.455248e+07
17  2007  ...                                1.535226e+07
18  2008  ...                                1.634289e+07
19  2009  ...                                1.775041e+07
20  2010  ...                                1.868443e+07
21  2011  ...                                1.940167e+07
22  2012  ...                                1.986944e+07
23  2013  ...                                2.058604e+07
24  2014  ...                                2.156280e+07
25  2015  ...                                2.224146e+07
26  2016  ...                                         NaN

[27 rows x 12 columns]

# Plotting with plotly

In [29]:
# Plotting dynamic visualisations 
fig = px.line(df_UK_plot, x=df_UK_plot['year'], y=df_UK_plot['Renewable energy consumption (TJ)'],title='UK Renewable energy consumption (TJ)over Time')
fig.show()
fig.write_html('df_UK_plot.html')

In [30]:
# Plotting dynamic visualisations 
fig = px.line(df_India_plot, x=df_UK_plot['year'], y=df_India_plot['Renewable energy consumption (TJ)'],title='India Renewable energy consumption (TJ)over Time')
fig.show()
fig.write_html('df_India_plot.html')

In [31]:
fig = px.bar(df_Ghana_plot, x='year', y='Access to Clean Fuels and Technologies for cooking (% of total population)',title='Ghana Access to Clean Fuels and Technologies for cooking (% of total population) over Time')
fig.show()
fig.write_html('df_Ghana_plot.html')

# Plotting with dash

In [32]:
# Adding country names to each dataframe 
df_India_plot['country'] = 'India'
df_UK_plot['country'] = 'UK'
df_France_plot['country'] = 'France'
df_USA_plot['country'] = 'USA'
df_Pakistan_plot['country'] = 'Pakistan'
df_Zambia_plot['country'] = 'Zambia'
df_SA_plot['country'] = 'South Africa'
df_Rwanda_plot['country'] = 'Rwanda'
df_Peru_plot['country'] = 'Peru'
df_Nepal_plot['country'] = 'Nepal'
df_Mexico_plot['country'] = 'Mexico'
df_Iraq_plot['country'] = 'Iraq'
df_Iceland_plot['country'] = 'Iceland'
df_Ghana_plot['country'] = 'Ghana'

In [33]:
# Combining all regions into one dataframe 
df_all_regions = pd.concat(df_country_plot_list )

In [34]:
# Combining all regions into one dataframe 
df_all_regions

    year  ...  country
0   1990  ...    India
1   1991  ...    India
2   1992  ...    India
3   1993  ...    India
4   1994  ...    India
..   ...  ...      ...
22  2012  ...    Ghana
23  2013  ...    Ghana
24  2014  ...    Ghana
25  2015  ...    Ghana
26  2016  ...    Ghana

[378 rows x 13 columns]

In [35]:
df_all_regions.to_csv("df_all_regions.csv")

# Dash

In [36]:
# For simplicity 
df = df_UK_plot
df

    year  ...  country
0   1990  ...       UK
1   1991  ...       UK
2   1992  ...       UK
3   1993  ...       UK
4   1994  ...       UK
5   1995  ...       UK
6   1996  ...       UK
7   1997  ...       UK
8   1998  ...       UK
9   1999  ...       UK
10  2000  ...       UK
11  2001  ...       UK
12  2002  ...       UK
13  2003  ...       UK
14  2004  ...       UK
15  2005  ...       UK
16  2006  ...       UK
17  2007  ...       UK
18  2008  ...       UK
19  2009  ...       UK
20  2010  ...       UK
21  2011  ...       UK
22  2012  ...       UK
23  2013  ...       UK
24  2014  ...       UK
25  2015  ...       UK
26  2016  ...       UK

[27 rows x 13 columns]

In [37]:
# Dash App 
app = JupyterDash(__name__)
available_indicators = df_UK['Indicator Name'].unique()

app.layout = html.Div([ 
    html.H2("Choose energy parameter for"),
    html.Div([dcc.Dropdown(id='input',
              options=[{'label': i, 'value': i} for i in available_indicators],
              value='Renewable energy consumption (TJ)')
            ]),
    html.Br(),
    dcc.Graph(id='output'),         
]) 

@app.callback(
    Output(component_id='output', component_property='figure'),
    Input(component_id='input', component_property='value')
)

def update_graph(input):
    fig = px.line(df_UK_plot, x=df_UK_plot['year'], y=df_UK_plot[input], title='UK Energy Over Time')
    fig.update_layout(transition_duration=500) 
    return fig


app.run_server(mode='inline',host="0.0.0.0",port=1005)